html, body{
  min-width: 100%;
  padding: 0;
  margin: 0;
}
body {
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
nav{
    background: transparent!important;
}
#wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
}
.panels{
    position: relative;
    width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
}
#landing-page{
    position: relative!important;
    top:0;
    width: 100%;
}
 #how-we-do{
    min-width: 100%;
}
.bg-one{
    min-width: 100%;
    height: 100%;
}
.quotes-bg{
    height: 75%; 
    position: relative;
}
.bg-one{
  padding-top: 45px;
}
.bg-one {
  background: url('../styles/img/brand/foucs.jpg') no-repeat;
  background-size: cover;
}
.quotes-bg{
    background: url('../styles/img/brand/code640.jpg') no-repeat;
    background-size: cover;
}
.home-title {
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
}
#coy-name{
  padding-top: 6em;
  bottom: 0;
  top:0;
}
#coy-name span{
display: block;
padding: 10px;
}
.home-title{
    color: rgb(255, 255, 255); 
    font-size: 97px; 
    line-height: 69px; 
    font-family: 'Montserrat'; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 0px; 
    text-transform: capitalize; 
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.caption1, .caption2{
    color: rgb(255, 255, 255); 
    font-size: 0.5em; 
    line-height: 69px; 
    font-family: 'Montserrat'; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 1px; 
    text-transform: capitalize; 
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
#caption-3, #caption-4{
    color: rgb(51, 89, 223); 
    font-size: 1.5em; 
    line-height: 39px; 
    font-family: 'Montserrat'; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 6px; 
    margin: 0 auto;
    text-align: center;
}

.we-do-wrapper h2{
    font-size: 2em; 
    line-height: 39px; 
    font-family: 'Montserrat',sans-serif; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 1px; 
    margin: 0 auto;
    text-align: left;
}
.number sub{
    float: left;
    font-size: 68px;
    line-height: 1em;
    font-family:'Montserrat',sans-serif;
    font-weight: 700;
    color: #16171d;
    margin: 0 14px 0 0;
    letter-spacing: 0;
}
.we-do-wrapper .we-do-text {
    text-align: left;
    padding: 28px;
    font-size: 1.5em;
    font-family:'Oswald';
    font-weight: lighter;
    letter-spacing: 0.4px;
}
.how-btn{
    line-height: 40px; 
    font-family: 'Oswald';
    width: 50%;
    font-size: 1.2em;
    background:rgb(51, 89, 223); 
    color: #fff; 
    text-align: center;
    margin: 0 auto; 
    float: left;
}
#what-we-do, #how-we-do{
    margin-top: 70px; 
}
#how-we-do, #what-we-do{
    min-height: 100%;
}
#what-we-do{
    margin-bottom: 30px;
}
.title-bordered {
    text-align: center;
    margin-bottom: 35px;
}
.title-bordered h2 {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    color: #454545;
    font-size: 24px;
}
.title-bordered h2 {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
}
.title-bordered h2 .line__left {
    left: -1em;
    margin: 0 0 0 -50%;
}
.title-bordered h2 .line__right {
    left: 1em;
    margin: 0 -50% 0 0;
}
.title-bordered h2 .line__left:before {
    right: 0;
}
.title-bordered h2 .line {
    position: relative;
    display: inline-block;
    width: 60%;
    height: 1px;
    vertical-align: middle;
    background: #e0e0e0;
}
.title-bordered h2 small {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #b5b5b5;
    font-style: normal;
}
.title-bordered h2 .line:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 11px;
    border-radius: 50%;
    background: #e0e0e0;
    margin-top: -5px;
}

.time-table-title{
    color: #202021;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
  font-size: 3.8em !important;

}
a {
    outline: 0;
    color: #428bca;
    text-decoration: none;
    list-style: none;
}
.title-bordered{
    margin-bottom: 90px;
}

.text-container{
    margin:40px;    
}


#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #fff;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .300s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 28px;
    height: 28px;
    opacity: 1;
    transition: all .300s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color: #fff;
}
#quote-carousel .carousel-text{
    font-family: 'Oswald'!important;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 60px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 17px

}
#future-text{
    font-family: 'Oswald';
    font-size: 46px; line-height: 1em; 
    font-style: normal; 
    font-weight: 800; 
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    letter-spacing: 0px; 
    text-transform: capitalize; 
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
#quote-carousel small, .future-bg small{
    color:#fff;
}
.future-bg small{
    text-align: center;
    letter-spacing: 1px;
    font-size: 1em;
}
.landing-overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background-color: rgb(17, 37, 51); /*dim the background*/
  opacity: 0.8;
}
.overlay{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background-color: rgb(17, 37, 51); /*dim the background*/
  opacity: 0.9;
}
#overlay{
  position: absolute;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 100000;
  background-color: rgb(17, 37, 51); /*dim the background*/
  opacity: 0.9;  
}
.future-bg{
    background: url('../styles/img/brand/gauteng .jpg') no-repeat;
    background-size: cover;
}
.future-bg{
  min-height: 60%;
  min-width: 100%;  
}
#footer {
    padding-bottom:10px;
    background: #28282e;
    position: relative;
    bottom:0;
    height: 100% !important;
}
#footer #footer-img li a {
    float:right;
    color:#fff;
    text-align:right;
    margin-left:5px;
    padding:10px;
    padding:0 20px 50px 20px;
}
#footer #footer-img li:hover{
    opacity: 0.3;
}
#footer ul li a img{
    width: 55px;
    height: 55px;
}

@media (max-width: 767px) {  
}
@media (min-width: 768px) {
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}






