<section data-ng-controller="MainCtrl">
    <div id="wrapper">
        <div id="landing-page" class="panels">
            <div class="bg-one">
                <div class="landing-overlay">
                    <div class="row"> 
                        <h2 class="col-md-6 col-md-offset-3" id="coy-name">
                            <span class="caption1">ENROL, ENGAGE</span>
                            <span class="home-title">Morphes</span>
                            <span class="caption2">unleash your inner genius & land a job</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="how-we-do">
            <div class="title-bordered col-md-8 col-md-offset-2"> 
                <div class="title-inner">
                    <h2 id="caption-3">
                        <span class="line line__left"></span>
                        What We Do 
                            <small>Our Core</small>
                        <span class="line line__right"></span>
                    </h2>
                </div>
            </div>
            <div class="container-fluid" style="padding:0 75px">
              <div class="col-lg-4 col-md-4">
                <div class="we-do-wrapper">
                    <h2 class="number"><sub>1</sub>Training</h2>
                    <div>
                        <p class="we-do-text">Yawn is here for your tablets and mobile phones.We value your choices of mobile devices and platforms.</p>
                    </div>
                </div>
                <p class="what-btn">Book A Seat</p>
              </div>
              <div class="col-lg-4 col-md-4 text-center">
                <div class="we-do-wrapper">
                  <h2 class="number"><sub>2</sub>Internship</h2>
                  <div>
                        <p class="we-do-text">Yawn is here for your tablets and mobile phones.We value your choices of mobile devices and platforms.</p>
                    </div>
                </div>
                <p class="what-btn">Intern Space</p>
              </div>
              <div class="col-lg-4 col-md-4 text-center">
                <div class="we-do-wrapper">
                  <h2 class="number"><sub>3</sub>Job Placement</h2>
                  <div>
                        <p class="we-do-text">Yawn is here for your tablets and mobile phones.We value your choices of mobile devices and platforms.</p>
                    </div>
                </div>
                <p class="what-btn">Skill-Set</p>
              </div>
            </div>  
        </div>
        <div class="quotes-bg">
            <div class="overlay">
                <div class="row">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p class="carousel-text">
                                            Computer programming is not science -<br>It’s an art.</p>
                                            <small></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p class="carousel-text">
                                            Learning to code is the best anyone can do to get the most of an amazing future.</p>
                                            <small>Marc Andreessen</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>

                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p class="carousel-text">Computer programming is the single best professional opportunity in the world.</p>
                                            <small>Steve Ballmer</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            
                        </div>
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="1">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="2">
                            </li>
                        </ol>
                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="what-we-do">
            <div class="title-bordered col-md-8 col-md-offset-2"> 
                <div class="title-inner">
                    <h2 id="caption-4">
                        <span class="line line__left"></span>
                        How We Do It
                            <small>Getting Morphed</small>
                        <span class="line line__right"></span>
                    </h2>
                </div>
            </div>
            <div class="container-fluid" style="padding:0 75px">
                <div class="col-lg-4">
                    <i class="fa fa-taxi fa-2x" aria-hidden="true"></i><f4 class="how-sub-menu">3 - Months Bootcamps</f4>
                    <div class="text-container">
                        <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i><f4 class="how-sub-menu">Graduate Apprenticeship</f4>
                    <div class="text-container">
                        <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i><f4 class="how-sub-menu">Undergraduate Internship</f4>
                    <div class="text-container">
                        <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <i class="fa fa fa-code fa-2x" aria-hidden="true"></i><f4 class="how-sub-menu">Summer of Code</f4>
                    <div class="text-container">
                        <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <i class="fa fa fa-child fa-2x" aria-hidden="true"></i><f4 class="how-sub-menu">Kids & Teens Code Club</f4>
                    <div class="text-container">  
                        <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <i class="fa fa fa-female fa-2x" aria-hidden="true"></i><f4 class="how-sub-menu">Black & Beautiful Girls Code</f4>
                    <div class="text-container">
                        <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    </div>
                </div>
            </div>
            <div class="see-schedule">See A Program Shedule & Enrol <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        </div>
        <div class="future-bg">
            <div id="overlay">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <p id="future-text">
                            Learn Code Innovate
                        </p>
                        <small>Join the next generation of successful techpreneurs who are leveraging on the power of the web.</small>
                    </div>
                </div>
            </div>
         </div>
        <div class="panels"> 
        </div>
        <div id="footer" class="footer-panels">
        <div class="row features">
          <div class="col-lg-3 col-md-3 text-center">
            <div class="single-fet">
              <div>
                <span class="icon-stack icon-4x">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-ok icon-light"></i>
                </span>
              </div>
              <h2>Your Experience <span class="label label-warning"></span></h2>
              <p>We at yahn value your moments and your excitement thats why yahn is for you.Keep track of your experience in writing and images. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 text-center">
            <div class="single-fet">
              <div>
                <span class="icon-stack icon-4x">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-ok icon-light"></i>
                </span>
              </div>
              <h2>Your Experience <span class="label label-warning"></span></h2>
              <p>We at yahn value your moments and your excitement thats why yahn is for you.Keep track of your experience in writing and images. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 text-center">
            <div class="single-fet">
              <div>
                <span class="icon-stack icon-4x">
        <i class="icon-circle icon-stack-base"></i><i class="icon-laptop icon-light"></i>
          </span>
              </div>
              <h2>Fully Responsive</h2>
              <p>Yawn is here for your tablets and mobile phones.We value your choices of mobile devices and platforms. </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 text-center">
            <div class="single-fet">
              <div>
                <span class="icon-stack icon-4x">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-download-alt icon-light"></i>
                </span>
              </div>
              <h2>And Totally <span style="color:#248822">Free</span></h2>
              <p>Yahn is free and very user friendly. </p>
            </div>
          </div>
        </div>          
        </div>
    </div>
</section>

                